In [2]:
import pandas as pd
import numpy as np
import re
import datetime as dt

import helper

## I. Load the data

In [3]:
raw_df_dict = {}
root = 'data'
filenames = ['recalls_2005.csv', 'recalls_2006.csv', 'recalls_2007.csv', 'recalls_2008.csv', 'recalls_2009.csv', 'recalls_2010.csv', 'recalls_2011.csv', 'recalls_2012.csv', 'recalls_2013.csv', 'recalls_2014.csv', 'recalls_2015.csv', 'recalls_2016.csv', 'recalls_2017.csv', 'recalls_2018.csv']
year_pattern = r'\d{4}'

# Load the data using a predefined helper funtion
raw_df_dict = helper.load_data(root, filenames, year_pattern)

Let's take a peek at a sample content of the data dictionary just created.

In [4]:
# Get the second item in the dictionary
recalls_ls = list(raw_df_dict.items())
# Get a random index of the items in the dictionary
idx = np.random.randint(len(recalls_ls))
# Get one of the recalls data in the dictionary
year, df = recalls_ls[idx]
num = 5
print('\n\nThese are the first {} rows of the recalls data of {}:\n'.format(num, year))
df.head(num)

These are the first 5 rows of the recalls data of 2015:

,Recall Number,Date Opened,Recall Class,Pounds Recalled,Product,Problem Type
0,001-2015,1/2/2015,1,"35,275",Australian Bone-In Lamb Shoulder,Other
1,002-2015,1/7/2015,1,359,Boneless Beef,Other
2,003-2015,1/7/2015,1,"35,865",Chili With Beans,Undeclared Allergen
3,004-2015,1/8/2015,1,"48,139",RTE Beef and Pork Products,Extraneous Material
4,005-2015,1/8/2015,1,"7,092",Halal Beef Soujouk Dried Beef Sausage,Undeclared Allergen

The data was correctly loaded and correctly indexed in the dictionary.

## II. Investigate the data

### 1. Investigate column names and positions

As we were taking a peek at the data in loaded we could see some inconsistencies between column names. Let's investigate this a bit further.

In [5]:
df_dict = raw_df_dict.copy()

In [6]:
cols_names_by_df = helper.display_columns_by_df(df_dict)
cols_names_by_df

,0,1,2,3,4,5
2005,Date Opened,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
2006,Date Opened,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
2007,Date Opened,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
2008,Date Opened,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
2009,Date Opened,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
2010,Recall Date,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
2011,Recall Date,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
2012,Recall Date,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
2013,Recall Date,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
2014,Recall Date,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
2015,Recall Number,Date Opened,Recall Class,Pounds Recalled,Product,Problem Type
2016,Recall Number,Open Date,Class,Pounds Recalled,Product,Problem Type
2017,Recall Number,Open Date,Class,Pounds Recalled,Product,Problem Type
2018,Recall Number,Open Date,Class,Pounds Recalled,Product,Problem Type

In [7]:
col_names_groups = helper.extract_col_names_groups(df_dict)
col_names_groups

{1: [2005, 2006, 2007, 2008, 2009],
 2: [2010, 2011, 2012, 2013, 2014],
 3: [2015],
 4: [2016, 2017, 2018]}

There appears to be 4 groups in the dataframes when it comes to column naming. The first group with uniform names and position across the columns are the dataframes for the year 2005 through 2009.
The second group covers years 2010 to 2014. 
The third group is the year 2015.
And the fourth group goes from 2015 to 2018.

Next, let's see how the naming of columns differ within those groups.

In [8]:
# Get randomly a year from each of the 4 groups of column naming
years = helper.get_samples_from_groups(col_names_groups)
years

[2009, 2011, 2015, 2016]

In [9]:
# Create a new dataframe with the column names in the dataframe of each of those years to compare the columns naming across all groups

cols_df = pd.DataFrame(data = [df_dict[years[0]].columns, df_dict[years[1]].columns, df_dict[years[2]].columns, df_dict[years[3]].columns], 
                      index = ['Group 1', 'Group 2', 'Group 3', 'Group 4'], 
                      columns = ['Pos ' + str(i+1) for i in range(6)]
                     )

cols_df

,Pos 1,Pos 2,Pos 3,Pos 4,Pos 5,Pos 6
Group 1,Date Opened,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
Group 2,Recall Date,Recall Number,Recall Class,Product,Reason for Recall,Pounds Recalled
Group 3,Recall Number,Date Opened,Recall Class,Pounds Recalled,Product,Problem Type
Group 4,Recall Number,Open Date,Class,Pounds Recalled,Product,Problem Type

### Remarks (columns names)

1. There are 3 different names for the column with the date the recall was initiated: Date Opened, Recall Date and Open Date. 
2. There are 2 column names for the class of the recall: Recall Class and Class
3. There are are 2 different column names for the reason the recall was initiated: Reason for Recall and Problem Type.

### Solution

1. The column with the date of the recall will be renamed Recall Date for the dataframes of groups 1, 3 and 4
2. The column with the class of the recall will be renamed Recall Class for the dataframes of group 4
3. The reason for the recall column will be renamed Recall Reason across all the dataframes

### Remarks (columns positions)

1. The column with the class of the recall is always the third column for all dataframes
2. The date the recall was initiated is the 1rst column of the dataframes of groups 1 and 2 but the second column for groups 3 and 4
3. The identifying number of the recall is the 2nd column for the dataframes of groups 1 and 2 but the first column for groups 3 and 4
4. The product column is the 4th column of the dataframes of grous 1 and 2 but the 5th of dataframes of groups 3 and 4
5. The Pounds Recalled column is the 4th column of the dataframes of groups 3 and 4 but the 6th of dataframes of groups 1 and 2
6. The reason for the recall column is the 5th column of the dataframes of groups 1 and 2 but the 6th of dataframes of groups 3 and 4

### Solution

The columns will be reorganized across all dataframes to be in this order: Recall Number, Recall Date, Recall Class, Product, Recall Reason, Pounds Recalled

### 2. Fix columns names and positions

In [10]:
def fix_col_name_and_pos(year, names_changes):    
    new_cols = ['Recall Number', 'Recall Date', 'Risk Level', 'Product', 'Recall Reason', 'Pounds Recalled']
    
    # Rename the columns that need to be renamed
    df_dict[year] = df_dict[year].rename(names_changes, axis=1)
    
    # Specify the position that each column must occupy
    df_dict[year] = df_dict[year][new_cols]

In [11]:
cols_names_changes_dict = {1: {'Date Opened': 'Recall Date', 'Reason for Recall': 'Recall Reason', 'Recall Class': 'Risk Level'},
                           2: {'Reason for Recall': 'Recall Reason', 'Recall Class': 'Risk Level'},
                           3: {'Date Opened': 'Recall Date', 'Problem Type': 'Recall Reason', 'Recall Class': 'Risk Level'},
                           4: {'Open Date': 'Recall Date', 'Class': 'Risk Level', 'Problem Type': 'Recall Reason'}
                          }

for group, years in col_names_groups.items():
    for year in years:
        fix_col_name_and_pos(year, cols_names_changes_dict[group])

In [12]:
cols_names_by_df = helper.display_columns_by_df(df_dict)
cols_names_by_df

,0,1,2,3,4,5
2005,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2006,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2007,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2008,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2009,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2010,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2011,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2012,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2013,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2014,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2015,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2016,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2017,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2018,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled

The columns names and positions are now uniform across all the dataframes.

### 3. Investigate Columns Data Types

In [13]:
cols_dtype_by_df = helper.display_columns_by_df(df_dict, dtype=True)
cols_dtype_by_df

,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2005,object,object,object,object,object,object
2006,object,object,object,object,object,object
2007,object,object,object,object,object,object
2008,object,object,object,object,object,object
2009,object,object,object,object,object,object
2010,object,object,object,object,object,object
2011,object,object,object,object,object,object
2012,object,object,object,object,object,object
2013,object,object,object,object,object,object
2014,object,object,object,object,object,object
2015,object,object,int64,object,object,object
2016,object,object,int64,object,object,object
2017,object,object,object,object,object,int64
2018,object,object,object,object,object,object

We can see there are some inconsistencies in the data types of the Risk Level and Pounds Recalled columns so we will need to investigate those columns a bit further and settle on an appropriate uniform datatype.

However, from the get-go we would much rather have the entries of the Pounds Recalled column be integer considering that they represent numbers and we might want to sum those numbers at some point.

We suppose that the Recall Date must also be a string by default as our files were .csv files. We would prefer the entries of that column be datetime objects to ease our workflow in case we ever needed to do some operations on those dates.

### 4. Fix Columns Data Types

* Fix Pounds Recalled column data type

We will start by fixing the data type of the pounds column. While looking at our data earlier we saw that the Pounds Recalled though stored as string objects had a comma to make reading them clearer. We will have to remember this as we try to convert those entries to int values.

In [14]:
recalls = df_dict[2011].copy()
recalls.head()

,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
0,001-2011,Jan 03 2011,III,Frozen Chicken Mushroom Pies,Undeclared Substance,600
1,002-2011,Jan 06 2011,I,Frozen Meat and Poultry Tamale Products,Undeclared Allergen,"144,633"
2,003-2011,Jan 10 2011,II,Ground Beef Products,Other,"247,800"
3,004-2011,Jan 11 2011,III,"Breakfast Stackers Sausage, Egg & Cheese",Undeclared Substance,"101,629"
4,005-2011,Jan 14 2011,II,Beef Trim,Other,"2,234"

In [15]:
number_pattern = r'\d+,?\d*'
entries_type_dict = {}
# working_dict = df_dict.copy()
for year, df in df_dict.items():
    entries_type_dict[year] = helper.get_column_entries_groups(df, 'Pounds Recalled', number_pattern)

In [16]:
entries_type_dict

{2005: {'Number': 52, 'Undetermined': 1},
 2006: {'Number': 34},
 2007: {'Number': 58},
 2008: {'Number': 52, 'Undetermined': 2},
 2009: {'Number': 68, 'Undetermined': 1},
 2010: {'Number': 69, 'Undetermined': 2},
 2011: {'Number': 97, 'Undetermined': 6},
 2012: {'Number': 81, 'Undetermined': 1},
 2013: {'Number': 73, 'Undetermined': 2},
 2014: {'Number': 94},
 2015: {'Number': 146, 'Undetermined': 4},
 2016: {'Number': 122},
 2017: {'Number': 131},
 2018: {'Number': 125}}

In [17]:
for year, df in df_dict.items():
    if year == 2017:
        pass
    df['Pounds Recalled'] = df['Pounds Recalled'].astype(str).str.replace(',', '').str.replace('Undetermined', '0').astype('int64')

In [18]:
cols_dtype_by_df = helper.display_columns_by_df(df_dict, dtype=True)
cols_dtype_by_df

,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2005,object,object,object,object,object,int64
2006,object,object,object,object,object,int64
2007,object,object,object,object,object,int64
2008,object,object,object,object,object,int64
2009,object,object,object,object,object,int64
2010,object,object,object,object,object,int64
2011,object,object,object,object,object,int64
2012,object,object,object,object,object,int64
2013,object,object,object,object,object,int64
2014,object,object,object,object,object,int64
2015,object,object,int64,object,object,int64
2016,object,object,int64,object,object,int64
2017,object,object,object,object,object,int64
2018,object,object,object,object,object,int64

Done! The data type of the Pounds Recalled column has now been fixed in all dataframes.

* Fix Risk Level column data type and entries

We will now looking into the Risk Level column's data types. We can already see from the table above that its entries are mostly stored as object except for the data of 2015 and 2016 where the entries are stored as integers.

In any case as I want to use descriptive strings for that column the data type of the column will end up being string objects.

For now, as we already know that the entries here are categorical values, let's look at the unique values we have in each dataframe of that column to ease the process of changing them to descriptive strings.

In [19]:
unique_entries = {}
for year, df in df_dict.items():
    unique_entries[year] = list(df['Risk Level'].unique())

In [20]:
unique_entries

{2005: ['I', 'III', 'II'],
 2006: ['II', 'I', 'III'],
 2007: ['I', 'III', 'II'],
 2008: ['I', 'II'],
 2009: ['I', 'II', 'III'],
 2010: ['I', 'II', 'III'],
 2011: ['III', 'I', 'II'],
 2012: ['I', 'II', 'III'],
 2013: ['I', 'III', 'II'],
 2014: ['I', 'II', 'III'],
 2015: [1, 3, 2],
 2016: [2, 1, 3],
 2017: ['III', 'I', 'II'],
 2018: ['I', 'III', 'II']}

We can see that most columns use the Romain numerals I, II and III to describe the risk level while the columns storing the entries as integers use the numbers 1, 2 and 3.

A quick investigation at the origin of the data tells us that 1 corresponds to I, 2 to II and 3 to III. We also learn that 1/I represents the highest risk level while 3/III represents the lowest.

The change can be pretty straight forward then.

In [21]:
def fix_risk_level(entry):
    if re.search(r'\b3\b|\bIII\b', entry):
        return 'Low'
    if re.search(r'\b2\b|\bII\b', entry):
        return 'Medium'
    if re.search(r'\b1\b|\bI\b', entry):
        return 'High'

In [22]:
for year, df in df_dict.items():
    df['Risk Level'] = df['Risk Level'].astype(str).apply(fix_risk_level)

Let's check the unique entries we now have in each dataframe.

In [23]:
unique_entries = {}
for year, df in df_dict.items():
    unique_entries[year] = list(df['Risk Level'].unique())

In [24]:
unique_entries

{2005: ['High', 'Low', 'Medium'],
 2006: ['Medium', 'High', 'Low'],
 2007: ['High', 'Low', 'Medium'],
 2008: ['High', 'Medium'],
 2009: ['High', 'Medium', 'Low'],
 2010: ['High', 'Medium', 'Low'],
 2011: ['Low', 'High', 'Medium'],
 2012: ['High', 'Medium', 'Low'],
 2013: ['High', 'Low', 'Medium'],
 2014: ['High', 'Medium', 'Low'],
 2015: ['High', 'Low', 'Medium'],
 2016: ['Medium', 'High', 'Low'],
 2017: ['Low', 'High', 'Medium'],
 2018: ['High', 'Low', 'Medium']}

And checking the data type of the Risk Level column, we can see that the data type is now uniform across all the dataframes.

In [25]:
cols_dtype_by_df = helper.display_columns_by_df(df_dict, dtype=True)
cols_dtype_by_df

,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2005,object,object,object,object,object,int64
2006,object,object,object,object,object,int64
2007,object,object,object,object,object,int64
2008,object,object,object,object,object,int64
2009,object,object,object,object,object,int64
2010,object,object,object,object,object,int64
2011,object,object,object,object,object,int64
2012,object,object,object,object,object,int64
2013,object,object,object,object,object,int64
2014,object,object,object,object,object,int64
2015,object,object,object,object,object,int64
2016,object,object,object,object,object,int64
2017,object,object,object,object,object,int64
2018,object,object,object,object,object,int64

Done! The data types of the entries of the Risk Level column as well as the actual entries have been changed to make the data easier to understand.

* Fix Recall Date column data type - make the data type datetime objects

Let's take a peek at the different formating we have right now for the Recall Date column across all the dataframes. Looking at the tables I can see that the format is uniform in each dataframe but can vary wildly from one dataframe to another. So to get the formating for a dataframe we can just look at the format in a single row.

In [26]:
date_format_dict = {}
for year, df in df_dict.items():
    date_format_dict[year] = df['Recall Date'].iloc[0]
date_format_dict

{2005: 'Jan 05 2005',
 2006: 'Jan 05 2006',
 2007: 'Jan 03 2007',
 2008: 'Jan 05 2008',
 2009: 'Jan 03 2009',
 2010: 'Jan 09 2010',
 2011: 'Jan 03 2011',
 2012: 'Jan 14 2012',
 2013: 'Jan 15 2013',
 2014: 'Jan 10 2014',
 2015: '1/2/2015',
 2016: '4-Jan-16',
 2017: 'Jan 5, 2017',
 2018: 'Jan 4, 2018'}

We can see that though the format is uniform from 2005-2014 the following years have different format. 

To make the format uniform we can just convert those dates directly to datetime object.

In [27]:
for year, df in df_dict.items():
    df['Recall Date'] = pd.to_datetime(df['Recall Date'])

Checking the format of the date across the dataframes we now get:

In [28]:
date_format_dict = {}
for year, df in df_dict.items():
    date_format_dict[year] = df['Recall Date'].iloc[0]
date_format_dict

{2005: Timestamp('2005-01-05 00:00:00'),
 2006: Timestamp('2006-01-05 00:00:00'),
 2007: Timestamp('2007-01-03 00:00:00'),
 2008: Timestamp('2008-01-05 00:00:00'),
 2009: Timestamp('2009-01-03 00:00:00'),
 2010: Timestamp('2010-01-09 00:00:00'),
 2011: Timestamp('2011-01-03 00:00:00'),
 2012: Timestamp('2012-01-14 00:00:00'),
 2013: Timestamp('2013-01-15 00:00:00'),
 2014: Timestamp('2014-01-10 00:00:00'),
 2015: Timestamp('2015-01-02 00:00:00'),
 2016: Timestamp('2016-01-04 00:00:00'),
 2017: Timestamp('2017-01-05 00:00:00'),
 2018: Timestamp('2018-01-04 00:00:00')}

To check how exactly these datetime objects are stored in the table, we can look at a table.

In [29]:
df_dict[2016].head()

,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
0,001-2016,2016-01-04,Medium,Beef products,Extraneous Material,89568
1,002-2016,2016-01-05,High,Cajun Hickory Smoked Pork Tasso,Listeria monocytogenes,14
2,003-2016,2016-01-05,High,Chicken products,Other,1125
3,004-2016,2016-01-06,High,"Beef, Pork, and Chicken Products",Other,7687
4,005-2016,2016-01-08,Medium,Pork Sausage,Undeclared Substance,4040

They look pretty good. The dates are readable and uniform across the dataset. The Recall Date column issue has been solved. Let's check the data types across all columns to be sure everything is solved.

In [30]:
cols_dtype_by_df = helper.display_columns_by_df(df_dict, dtype=True)
cols_dtype_by_df

,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
2005,object,datetime64[ns],object,object,object,int64
2006,object,datetime64[ns],object,object,object,int64
2007,object,datetime64[ns],object,object,object,int64
2008,object,datetime64[ns],object,object,object,int64
2009,object,datetime64[ns],object,object,object,int64
2010,object,datetime64[ns],object,object,object,int64
2011,object,datetime64[ns],object,object,object,int64
2012,object,datetime64[ns],object,object,object,int64
2013,object,datetime64[ns],object,object,object,int64
2014,object,datetime64[ns],object,object,object,int64
2015,object,datetime64[ns],object,object,object,int64
2016,object,datetime64[ns],object,object,object,int64
2017,object,datetime64[ns],object,object,object,int64
2018,object,datetime64[ns],object,object,object,int64

The preliminary work with the columns and fixing the datatypes across all of them is now done. At this point we could join all dataframes with no problem. 

However, there are a few other issues to look into to make the data ultimately more readable and useful.

### 5. Investigate the Recall Reason column

From looking at the data so far it seems that the entries of this column are categorical in nature. It might be good to look at those categories and make sure that all is well.

The entries of that column are categorical values. And there are slight differences from one dataframe from another.

It would be good to see all the entries of the unique entries of that column and their value counts by dataframe.

In [31]:
recall_reasons_summary = helper.get_recall_reasons_summary(df_dict)
recall_reasons_summary

,Listeria monocytogenes,Undeclared Allergen,E. coli O157:H7,Other,Misbranding,Processing Defect,Extraneous Material,Chemical Contamination,Residue,Salmonella,Undeclared Substance,E.coli O157:H7,Unapproved Substance,E. coli O26*,"E. coli O157:H7, E. coli O145, E. coli O45",E. coli O121,"E. coli O103, O111, O121, O145, O26, O45",E. coli
2005,30,9,5,3,2,2,1,1,0,0,0,0,0,0,0,0,0,0
2006,6,9,8,3,0,2,4,0,1,1,0,0,0,0,0,0,0,0
2007,11,12,22,3,0,5,2,0,0,1,2,0,0,0,0,0,0,0
2008,15,7,17,7,0,0,5,3,0,0,0,0,0,0,0,0,0,0
2009,8,13,0,13,2,3,5,0,0,6,1,16,2,0,0,0,0,0
2010,8,18,11,12,2,2,7,0,2,7,1,0,0,1,0,0,0,0
2011,11,40,0,13,0,2,5,0,1,10,7,13,1,0,0,0,0,0
2012,16,29,5,9,0,1,13,0,0,2,7,0,0,0,0,0,0,0
2013,9,25,7,14,0,2,10,0,0,4,2,0,0,0,1,1,0,0
2014,7,43,4,23,0,4,6,0,0,4,2,0,0,0,0,0,1,0
2015,6,58,0,54,0,4,11,0,0,3,5,0,1,0,0,0,0,8
2016,11,34,0,27,0,5,21,0,1,2,7,0,0,0,0,0,0,14
2017,15,53,0,17,0,5,24,0,2,1,6,0,0,0,0,0,0,8
2018,21,26,0,27,0,8,23,0,1,6,3,0,1,0,0,0,0,9

At first glance we can see that there are many different Recall Reason that are related to e. coli. Let's filter all those and look more closely at them.

In [32]:
pattern = r'e.\s?coli.*'

In [33]:
ecoli_columns = recall_reasons_summary[[column for column in list(recall_reasons_summary.columns) if re.match(pattern, column, re.I)]]
ecoli_columns

,E. coli O157:H7,E.coli O157:H7,E. coli O26*,"E. coli O157:H7, E. coli O145, E. coli O45",E. coli O121,"E. coli O103, O111, O121, O145, O26, O45",E. coli
2005,5,0,0,0,0,0,0
2006,8,0,0,0,0,0,0
2007,22,0,0,0,0,0,0
2008,17,0,0,0,0,0,0
2009,0,16,0,0,0,0,0
2010,11,0,1,0,0,0,0
2011,0,13,0,0,0,0,0
2012,5,0,0,0,0,0,0
2013,7,0,0,1,1,0,0
2014,4,0,0,0,0,1,0
2015,0,0,0,0,0,0,8
2016,0,0,0,0,0,0,14
2017,0,0,0,0,0,0,8
2018,0,0,0,0,0,0,9

Across all the dataset there are a total of 7 variations of Reason Recall column entries for E. coli.

Though there are many different types of E. coli represented there are also data entry errors that led to so many different E. coli entries such as the ones in the first and second column of the table above. The only difference is that there is no space between E. and coli.

Looking at the last column of the table above, labeled E. coli, we see that this format was used for the last four years and never before. We can assume that it is a newer format adopted to group all the E. coli strains under just one naming for the sake of simplicity.

We can adopt this convention as well and group all the E. coli strain

To resolve this issue, I just have to go through the Recall Reason in each dataframe and replace all those mentioning E. coli by E. coli.

In [34]:
for year, df in df_dict.items():
    df['Recall Reason'] = df['Recall Reason'].astype(str).str.replace(pattern, 'E. Coli', flags=re.I)

Let's check that all E. coli variances have been combined under one.

In [35]:
recall_reasons_summary = helper.get_recall_reasons_summary(df_dict)
recall_reasons_summary

,Listeria monocytogenes,Undeclared Allergen,E. Coli,Other,Misbranding,Processing Defect,Extraneous Material,Chemical Contamination,Residue,Salmonella,Undeclared Substance,Unapproved Substance
2005,30,9,5,3,2,2,1,1,0,0,0,0
2006,6,9,8,3,0,2,4,0,1,1,0,0
2007,11,12,22,3,0,5,2,0,0,1,2,0
2008,15,7,17,7,0,0,5,3,0,0,0,0
2009,8,13,16,13,2,3,5,0,0,6,1,2
2010,8,18,12,12,2,2,7,0,2,7,1,0
2011,11,40,13,13,0,2,5,0,1,10,7,1
2012,16,29,5,9,0,1,13,0,0,2,7,0
2013,9,25,9,14,0,2,10,0,0,4,2,0
2014,7,43,5,23,0,4,6,0,0,4,2,0
2015,6,58,8,54,0,4,11,0,0,3,5,1
2016,11,34,14,27,0,5,21,0,1,2,7,0
2017,15,53,8,17,0,5,24,0,2,1,6,0
2018,21,26,9,27,0,8,23,0,1,6,3,1

To check that all E. coli variances have indeed been classified as E. coli we can check if the sum of all columns for each year in the ecoli_columns table adds up to the values in the E. coli column in the dataframe above.

In [36]:
print(ecoli_columns.sum(axis=1) == recall_reasons_summary['E. Coli'])

2005    True
2006    True
2007    True
2008    True
2009    True
2010    True
2011    True
2012    True
2013    True
2014    True
2015    True
2016    True
2017    True
2018    True
dtype: bool

The values are indeed equal for each year. So we can consider that we are done! We now have all variances of E. coli classified as E. coli in all the dataframes.

Now, when we investigated the meaning of each column we discovered that the column Other usually includes Misbranding so we are going to merge Misbranding with Other so that for the dataframes where Misbranding was added as a lone column, the mistake is fixed.

Also, the columns Residue, Chemical Contamination and Unapproved Substance have very little entries overall and no entries at all in many dataframes so it might be a good decision to combine them under a single new column. We will name this column Extraneous Substance.

Finally the naming of all columns follows the format of each word starting with a capital letter except Listeria monococytogenes. We are going to fix this and make sure M is capitalized in order to conform with the format that we have.

In [37]:
def combine(element):
    extraneous_substance = ['Chemical Contamination', 'Residue', 'Unapproved Substance']
    return 'Extraneous Substance' if element in extraneous_substance else element

In [38]:
for year, df in df_dict.items():
    df['Recall Reason'] = df['Recall Reason'].astype(str).str.replace(pattern, 'E. Coli', flags=re.I).str.replace('Misbranding', 'Other').str.replace('Listeria monocytogenes', 'Listeria Monocytogenes').apply(combine)

In [39]:
recall_reasons_summary = helper.get_recall_reasons_summary(df_dict)
recall_reasons_summary

,Listeria Monocytogenes,Undeclared Allergen,Other,E. Coli,Processing Defect,Extraneous Material,Extraneous Substance,Salmonella,Undeclared Substance
2005,30,9,5,5,2,1,1,0,0
2006,6,9,3,8,2,4,1,1,0
2007,11,12,3,22,5,2,0,1,2
2008,15,7,7,17,0,5,3,0,0
2009,8,13,15,16,3,5,2,6,1
2010,8,18,14,12,2,7,2,7,1
2011,11,40,13,13,2,5,2,10,7
2012,16,29,9,5,1,13,0,2,7
2013,9,25,14,9,2,10,0,4,2
2014,7,43,23,5,4,6,0,4,2
2015,6,58,54,8,4,11,1,3,5
2016,11,34,27,14,5,21,1,2,7
2017,15,53,17,8,5,24,2,1,6
2018,21,26,27,9,8,23,2,6,3

This is what our Recall Reason summary table looks like after the above changes are implemented. We have less 0 values overall and less Recall Reasons to deal with. We will come back to this table later as we analyze more in depth the most frequent Recall Reasons and the possible correlation between them. 

For now, the dataframes are a bit cleaner and a bit closer to be combined into one useful dataframe.

In [70]:
recalls_16 = df_dict[2016]
slice = recalls_16[:20]
slice

,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled
0,001-2016,2016-01-04,Medium,Beef products,Extraneous Material,89568
1,002-2016,2016-01-05,High,Cajun Hickory Smoked Pork Tasso,Listeria Monocytogenes,14
2,003-2016,2016-01-05,High,Chicken products,Other,1125
3,004-2016,2016-01-06,High,"Beef, Pork, and Chicken Products",Other,7687
4,005-2016,2016-01-08,Medium,Pork Sausage,Undeclared Substance,4040
5,006-2016,2016-01-16,Medium,Sweet Apple Chicken Sausage,Undeclared Substance,22182
6,007-2016,2016-01-20,High,Ground Beef,E. Coli,410
7,008-2016,2016-01-22,Low,Chili without Beans,Undeclared Substance,549539
8,009-2016,2016-01-23,High,Meat and Poultry Pasta Products,Other,38950
9,010-2016,2016-01-25,Medium,Pepperoni Pizza,Undeclared Substance,73898
10,011-2016,2016-01-25,Medium,Beef Knockwurst Sausage Links,Undeclared Substance,1320
11,012-2016,2016-01-30,High,Beef and Chicken,Other,289
12,013-2016,2016-02-05,High,Pork Meat Ravioli,Other,491
13,014-2016,2016-02-08,High,Uncured Bacon Ganache Bar,Undeclared Allergen,135
14,015-2016,2016-02-09,Medium,Beef Stew,Extraneous Material,450
15,016-2016,2016-02-12,High,Pork Bacon Fritters,Extraneous Material,25215
16,017-2016,2016-02-13,High,Meatball Soup Products,Other,7275
17,018-2016,2016-02-16,Medium,Southwest Style Chicken Salad,Extraneous Material,3710
18,019-2016,2016-02-19,High,Edamame Hummus Wrap,Undeclared Allergen,1006
19,020-2016,2016-02-23,Low,Shirakiku Pork Gyoza Dumplings,Undeclared Substance,6000

## 6. Investigate the Product Column

It is clear to me that having products is of no real use. A better feature would be the product type: beef, poultry, pork etc...

I will download the product column as a dataframe and use it to manually add the product type.

In [83]:
pattern = r'pork\s(?=meat)|pork'

In [86]:
pork = pd.DataFrame(slice['Product'].str.contains(pattern, flags=re.I))
pork

    Product
0     False
1      True
2     False
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15     True
16    False
17    False
18    False
19     True

In [89]:
sl = slice.copy()
pd.concat([sl, pork], axis=1)

,Recall Number,Recall Date,Risk Level,Product,Recall Reason,Pounds Recalled,Product
0,001-2016,2016-01-04,Medium,Beef products,Extraneous Material,89568,False
1,002-2016,2016-01-05,High,Cajun Hickory Smoked Pork Tasso,Listeria Monocytogenes,14,True
2,003-2016,2016-01-05,High,Chicken products,Other,1125,False
3,004-2016,2016-01-06,High,"Beef, Pork, and Chicken Products",Other,7687,True
4,005-2016,2016-01-08,Medium,Pork Sausage,Undeclared Substance,4040,True
5,006-2016,2016-01-16,Medium,Sweet Apple Chicken Sausage,Undeclared Substance,22182,False
6,007-2016,2016-01-20,High,Ground Beef,E. Coli,410,False
7,008-2016,2016-01-22,Low,Chili without Beans,Undeclared Substance,549539,False
8,009-2016,2016-01-23,High,Meat and Poultry Pasta Products,Other,38950,False
9,010-2016,2016-01-25,Medium,Pepperoni Pizza,Undeclared Substance,73898,False
10,011-2016,2016-01-25,Medium,Beef Knockwurst Sausage Links,Undeclared Substance,1320,False
11,012-2016,2016-01-30,High,Beef and Chicken,Other,289,False
12,013-2016,2016-02-05,High,Pork Meat Ravioli,Other,491,True
13,014-2016,2016-02-08,High,Uncured Bacon Ganache Bar,Undeclared Allergen,135,False
14,015-2016,2016-02-09,Medium,Beef Stew,Extraneous Material,450,False
15,016-2016,2016-02-12,High,Pork Bacon Fritters,Extraneous Material,25215,True
16,017-2016,2016-02-13,High,Meatball Soup Products,Other,7275,False
17,018-2016,2016-02-16,Medium,Southwest Style Chicken Salad,Extraneous Material,3710,False
18,019-2016,2016-02-19,High,Edamame Hummus Wrap,Undeclared Allergen,1006,False
19,020-2016,2016-02-23,Low,Shirakiku Pork Gyoza Dumplings,Undeclared Substance,6000,True